<!--Template inheritance-->
{% extends 'user_base.html' %}
{% load static %}
{% load widget_tweaks %}

<!--Content-->
{% block content %}

<body class="body">
    <header class="title-container">
        <h1 class="title">Sign in</h1>
    </header>
    <main class="container fm">
        <form class="form row g-3" action="{% url 'sign_in' %}" method="POST">
            {% csrf_token %}
            <div class="col-md-6 adjust">
                <div class="form-floating">
                    {% render_field form.first_name class="form-control" placeholder="_" %}
                    <label for="first_name" class="form-label">First Name *</label>
                </div>
                {% if errors.first_name %}
                <script>document.getElementById('id_first_name').classList.add('error')</script>
                <div class="not-valid">
                    {% for error in errors.first_name %}
                    <p>&nbsp;&nbsp;&nbsp;{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="col-md-6 adjust">
                <div class="form-floating">
                    {% render_field form.last_name class="form-control" placeholder="_" %}
                    <label for="last_name" class="form-label">Last Name *</label>
                </div>
                {% if errors.last_name %}
                <script>document.getElementById('id_last_name').classList.add('error')</script>
                <div class="not-valid">
                    {% for error in errors.last_name %}
                    <p>&nbsp;&nbsp;&nbsp;{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="col-12 adjust">
                <div class="form-floating">
                    {% render_field form.email class="form-control" placeholder="_" %}
                    <label for="email" class="form-label is-invalid">E-mail *</label>
                </div>
                {% if errors.email %}
                <script>document.getElementById('id_email').classList.add('error')</script>
                <div class="not-valid">
                    {% for error in errors.email %}
                    <p>&nbsp;&nbsp;&nbsp;{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="col-12 adjust">
                <div class="form-floating">
                    {% render_field form.password1 class="form-control" placeholder="_" %}
                    <label for="password1" class="form-label">Password *</label>
                </div>
                {% if errors.password1 %}
                <div class="not-valid">
                    {% for error in errors.password1 %}
                    <p>&nbsp;&nbsp;&nbsp;{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="col-12 adjust">
                <div class="form-floating">
                    {% render_field form.password2 class="form-control" placeholder="_" %}
                    <label for="password2" class="form-label">Confirm password *</label>
                </div>
                {% if errors.password2 %}
                <script>document.getElementById('id_password1').classList.add('error')</script>
                <script>document.getElementById('id_password2').classList.add('error')</script>
                <div class="not-valid">
                    {% for error in errors.password2 %}
                    <p>&nbsp;&nbsp;&nbsp;{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="button-wrapper">
                <button class="button" type="submit"><i class="fas fa-address-book">&nbsp;&nbsp;Sign in</i></button>
            </div>
            <p class="register">Already have an account? <a href="{% url 'login' %}">Login now</p>
        </form>
    </main>

    <!--Custom JS-->
    <script src="{% static 'js/prevent_resend.js' %}"></script>
</body>

{% endblock %}