.title-container {
    display: block;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.20);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
}

.title {
    font-family: helvetica;
    text-align: center;
    color: #EEEEEE;
}

.fm {
    padding: 200px;
}

.form {
    border: #A9CEF4 1px solid;
    border-radius: 3px;
    padding: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.45);
}

.form-floating {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.20);
}

.button-wrapper {
    display: block;
    width: 100%;
}

.button {
    display: block;
    margin-top: 2.5rem;
    width: 30%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #7EA0B7;
    border: #A9CEF4 1px solid;
    border-radius: 3px;
    color: #EEEEEE;
    transition: 0.3s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.20);
}

.button:hover {
    background-color: #EEEEEE;
    color: #000000;
}

.register {
    color: #A9CEF4;
    text-align: center;
    margin-top: 1rem;
}

.register a {
    text-decoration: none;
    color: rgb(101, 199, 255);
    transition: 0.3s;
}

.register a:hover {
    color: #000000;
}

@media screen and (max-width: 992px) {
    .button {
        width: 40%;
    }
}

@media screen and (max-width: 768px) {
    .button {
        width: 50%;
    }
}
