
@font-face {
    font-family: "KonstanzRegular";
    src: url("assets/fonts/Konstanz-Regular.ttf");
}

@font-face {
    font-family: "Konstanz-Regular";
    src: url("assets/Konstanz-Regular.ttf");
}

* {
   text-rendering: optimizeLegibility;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
   list-style: none;
   text-decoration: none;
}

.body {
    /* background: linear-gradient(to left, #36494E, #597081) !important; */
    background-color: #546A7B;
    overflow-x: hidden;
}

p, span, h1, h2, h3, input, textarea {
    font-family: "Konstanz-Regular" !important;
}
