
.post {
    margin-bottom: 1rem;
    border: 1px black solid;
    border-radius: 25px;
    width: 100%;
    padding: 15px;
    background-color: #eeeeeeef;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.45);
    transition: 0.5s;
    word-break: break-all;
}

.no-posts {
    margin-bottom: 1rem;
    border: 1px black solid;
    border-radius: 25px;
    width: 100%;
    padding: 15px;
    background-color: #eeeeeeef;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.45);
}

.no-posts p {
    font-size: 1.4rem;
    margin: 0.5rem 0 0.5rem 0;
    text-align: center;
}

.post:hover {
    margin-left: -30px;
    background-color: #36494E;
    color: #EEEEEE;
    border: 1px #EEEEEE solid;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.90);
}

.post h1 {
    font-size: 1.4rem;
    text-align: left;
    margin-bottom: 0.9rem;
    font-weight: lighter;
}

.post p {
    font-size: 1rem;
    margin-top: 0.5rem;
}

.post-info {
    margin-top: 1rem !important;
    margin-right: 0.5rem !important;
    text-align: right;
}
